<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- build:css({app,.tmp}) /css/main.css -->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->
    <link href='{{ site.url }}/atom.xml' rel='alternate' title='{{ page.title }} - Atom' type='application/atom+xml'>
    <!--[if lt IE 9]>
    <script src="//cdn.jsdelivr.net/g/respond@1.4.2(respond.min.js),html5shiv@3.7.0(html5shiv.js)"></script>
    <![endif]-->
</head>
<body id="top">
<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please
    <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<header class="site-header">
    <nav class="site-header-item site-nav">
        <a class="site-nav-item" href="/about">About</a>
    </nav>
    <h1 class="site-header-item site-name"><a href="/">{{ site.name }}</a></h1>
</header>

{{ content }}

<footer class="site-footer">
    <a class="button" href="#top">
        Back to Top
    </a>
    <ul class="social-list">
        <li class="social-list-item"><a class="genericon genericon-twitter" href="https://twitter.com/rose_ian" title="Twitter"><span class="screen-reader-txt">Twitter</span></a>
        </li>
        <li class="social-list-item"><a class="genericon genericon-github" href="https://github.com/ianrose" title="GitHub"><span class="screen-reader-txt">GitHub</span></a></li>
        <li class="social-list-item">
            <a class="genericon genericon-googleplus-alt" href="https://plus.google.com/108043345897302503833" title="Google Plus"><span class="screen-reader-txt">Google Plus</span></a>
        </li>
        <li class="social-list-item"><a class="genericon genericon-feed"
                                        href="http://feeds.feedburner.com/ianrose?format=xml" title="Feed"><span class="screen-reader-txt">Feed</span></a></li>
    </ul>
    <p class="site-details">&copy; 2014 Ian Rose // <a href="https://github.com/ianrose/ianrose-source">Site Source</a>
    </p>
</footer>

<!-- build:js(app) /js/scripts.js -->
<script src="/js/main.js"></script>
<!-- endbuild -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-20417568-2', 'ianrose.me');
    ga('send', 'pageview');

</script>
</body>
</html>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//cdn.jsdelivr.net/genericons/3.0.3/genericons.css">