---
layout: default
---
<article class="container">
  <header class="post-header">
    <h2>{{ page.title }}</h2>
    <p class="meta">{{ page.date | date_to_string }}</p>
  </header>

  <div class="post">
    {{ content }}
  </div>
  <div class="post-share">
      <small>Share Post: </small>
      <ul class="social-list social-list-inline">
          <li class="social-list-item"><a class="genericon genericon-twitter" target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via=rose_ian" title="Twitter"></a></li>
          <li class="social-list-item"><a class="genericon genericon-facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Facebook"></a></li>
          <li class="social-list-item"><a class="genericon genericon-googleplus-alt" target="_blank" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Google Plus"></a></li>
      </ul>
  </div>
</article>
