<nav class="nav nav--post row{{#unless previous}} is-first{{/unless}}">
  {{#if previous}}
    <div class="nav--prev">
      <h2 class="nav--post-heading">{{previous.title}}</h2>
      <p class="dek dek--sm">{{previous.description}}</p>
    </div>
    <div class="nav--post-button">
      <a class="button--link" href="/{{previous.path}}">Previous</a>
    </div>
  {{/if}}
  {{#if next}}
    <div class="nav--next">
      <h2 class="nav--post-heading">{{next.title}}</h2>
      <p class="dek dek--sm">{{next.description}}</p>
    </div>
    <div class="nav--post-button">
      <a class="button--link" href="/{{next.path}}">Next</a>
    </div>
  {{/if}}
</nav>