.row.bg {
  position: absolute;
  top: -1em;
  bottom: -1em;
  width: 100%;
  z-index: -1;
}

.bg .col-1 {
  border-left: 1px solid darken(#f3f3f3, 8%);

  &:last-child {
    border-right: 1px solid darken(#f3f3f3, 8%);
  }
}