.dek {
  font-family: $font-sans;
}

.dek--lg {
  @include setType(2.5, $base-em-font-size, $silent: true);

  margin-bottom: emRhythm(0.5, $base-em-font-size, $silent: true);

  @media (min-width: $screen-sm-min) {
    @include setType(3.5, $ms-up1, $silent: true);

    margin-bottom: emRhythm(1, $ms-up1);
  }
}

.dek--sm {
  @include setType(2, $ms-down1);

  margin-bottom: 0;
}

.dek--intro {
  @extend .h1;

  margin-bottom: $site-header-height / 2;
  padding-left: $gutter;
  padding-right: $gutter;

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include setType(5, $ms-up3);
  }
}
