.entry {
  background-color: $background-color;
  margin-bottom: emRhythm(3);

  p {
    margin-bottom: emRhythm(1);
  }
}

.entry--post {
  flex-basis: $span-half;
  padding-left: $gutter;
  padding-right: $gutter;

  @media (min-width: $screen-md-min) {
    max-width: $span-half;
  }
}

.entry--media {
  background-color: #010742;
  background-color: #013e42;
  display: block;
  position: relative;
  filter: contrast(1.1);
}

.entry--category-container {
  padding-left: $gutter;
  padding-right: $gutter;

  @media (min-width: $screen-lg-min) {
    display: flex;
  }
}

.entry--category-container--half {
  @media (min-width: $screen-lg-min) {
    flex-basis: $span-half;
    max-width: $span-half;
  }
}

.entry--category-container--full {
  @media (min-width: $screen-lg-min) {
    flex-basis: 100%;
    max-width: none;
  }
}

.entry--category {
  flex-shrink: 1; // ie10 fix
  border-top: $border-width-narrow solid $lighter-grey;
  padding-top: $gutter;
}

.entry-heading--category {
  @include setType(3, $ms-up1);

  margin-bottom: emRhythm(0.5, $ms-up1);
}
