.entry {
  margin-bottom: emRhythm(6);
}

.entry--post {
  flex-basis: $span-half;
  padding-left: $gutter;
  padding-right: $gutter;

  @media (min-width: $screen-md-min) {
    max-width: $span-half;
  }
}

.entry--media {
  display: block;
}

.entry--category-container {
  padding-left: $gutter;
  padding-right: $gutter;

  @media (min-width: $screen-lg-min) {
    display: flex;
    flex-basis: $span-half;
    max-width: $span-half;
  }
}

.entry--category {
  flex-shrink: 1; // ie10 fix
  border-bottom: $border-width-narrow solid $text-color;

  &.is-home {
    border-bottom: none;
  }
}

.entry-heading--category {
  @extend .h2;
}
