.footer {
  order: 1;
}

.footer--nav--l {
  flex-basis: $span-2;
  padding-left: $gutter;
  padding-right: $gutter;

  @media (min-width: $screen-md-min) {
    max-width: $span-2;
  }
}

.footer--nav--l .footer--col--l {
  flex-basis: $span-half;

  @media (min-width: $screen-md-min) {
    max-width: $span-half;
  }
}

.footer--nav--l .footer--col--l:last-child {
  padding-right: $gutter;
}

.footer--nav--l .footer--col--l:last-child {
  @media (min-width: $screen-lg-min) {
    padding-left: $gutter;
  }
}

.footer--col--l {
  padding-top: emRhythm(1);
  border-top: $border-width-narrow solid $lighter-grey;
}
