.form--box {
  input {
    width: 100%;
    margin-bottom: $base-vertical-unit;
  }

  label {
    line-height: unitlessRhythm(3);
  }

  @media (min-width: $screen-lg-min) {
    display: flex;
    flex-wrap: wrap;

    input {
      width: auto;
    }

    p {
      flex-basis: 100%;
    }
  }
}
