@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @media (min-width: $screen-md-min) {
    width: $container-md-width;
  }

  @media (min-width: $screen-lg-min) {
    width: $container-lg-width;
  }

  @media (min-width: $screen-xl-min) {
    width: $container-xl-width;
  }
}

.row {
  position: relative;

  @media (min-width: $screen-md-min) {
    display: flex;
    flex-wrap: wrap;

    & > div {
      flex-shrink: 1; // ie10 fix
    }
  }
}

.col-1 {
  flex-basis: $span-1;

  @media (min-width: $screen-md-min) {
    max-width: $span-1;
  }
}

.col-2 {
  flex-basis: $span-2;

  @media (min-width: $screen-md-min) {
    max-width: $span-2;
  }
}

.col-3 {
  flex-basis: $span-3;

  @media (min-width: $screen-md-min) {
    max-width: $span-3;
  }
}

.col-4 {
  flex-basis: $span-4;

  @media (min-width: $screen-md-min) {
    max-width: $span-4;
  }
}

.col-5 {
  flex-basis: $span-5;
  @media (min-width: $screen-md-min) {
    max-width: $span-5;
  }
}

.col-6 {
  flex-basis: $span-6;
  @media (min-width: $screen-md-min) {
    max-width: $span-6;
  }
}

.col-7 {
  flex-basis: $span-7;
  @media (min-width: $screen-md-min) {
    max-width: $span-7;
  }
}

.col-half {
  flex-basis: $span-half;
  @media (min-width: $screen-md-min) {
    max-width: $span-half;
  }
}
