.media--entry {
  margin-bottom: emRhythm(1);
  width: 100%; //FF image overflow fix
  filter: grayscale(100%);
  mix-blend-mode: exclusion;
}

.media-full {

  @media (min-width: $screen-md-min) {
    width: $container-md-width;
    margin-left: $gutter * -1;
  }

  @media (min-width: $screen-lg-min) {
    width: $container-lg-width;
    margin-left: -142px;
  }

  @media (min-width: $screen-xl-min) {
    width: $container-xl-width;
    margin-left: -170px;
  }
}

.media-full figcaption {
  margin-top: $base-vertical-unit;

  @media (min-width: $screen-xl-min){
    position: absolute;
    right: 0;
    padding-left: $gutter * 2;
    padding-right: $gutter;
    max-width: $span-2;
  }
}

.media-small {
  .article--post & {
    float: right;
    padding-left: $gutter * 2;
    max-width: 50%;

    @media (min-width: $screen-xl-min) {
      position: absolute;
      right: 0;
      padding-right: $gutter;
      width: $span-2;
    }
  }
}
