$meta-size: $ms-down1;

.meta--link {
  text-transform: capitalize;

  &:link,
  &:visited {
    text-decoration: none;
    color: $text-color;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: $light-grey;
  }
}

.meta--txt {
  font-family: $font-sans;
  margin-bottom: emRhythm(0.5, $meta-size, $silent: true);
  @include setType(2, $meta-size);
}

.meta--heading {
  border-top: $border-width-normal solid $lighter-grey;
  padding-top: emRhythm(1, $ms-down1);

  @media (min-width: $screen-lg-min) {
    margin-bottom: emRhythm(6, $ms-down1);
  }
}

.section--posts .meta--heading {
  margin-bottom: emRhythm(6, $ms-down1);
}

.meta--container-post {
  flex-basis: $span-3;


  @media (min-width: $screen-md-min) {
    max-width: $span-3;
  }

  @media (min-width: $screen-lg-min) {
    flex-basis: $span-2;
    max-width: $span-2;
  }
}

.meta--container {
  padding-left: $gutter;
  padding-right: $gutter;
}

.meta--container-post:first-child {
  @media (min-width: $screen-lg-min) {
    margin-left: $span-1;
  }
}

.meta--container-post:last-child {
  @media (min-width: $screen-lg-min) {
    margin-left: $span-2;
  }
}

.meta--primary {
  font-weight: 600;
}

.meta--alt {
  font-weight: 400;
  color: $light-grey;
}

.meta--post--l {

  @media (min-width: $screen-sm-min) {
    min-height: $site-header-height;
  }
}
