.site-header {
  font-family: $font-sans;
  border-top: $border-width-normal solid $text-color;
  display: flex;
  align-items: center;

  @media (min-width: $screen-sm-min) {
    min-height: $site-header-height;
    display: block;
    margin-bottom: 0;
    margin-top: $gutter * 2;
  }
}
