<div class="section--intro section--intro-home">
  <div class="container">
    <div class="row">
      <div class="col col-xs-12 col-sm-8 pad-xs">
        <p class="dek dek-xlg">Ian Rose is a designer living &amp; working in New York City.</p>
      </div>
    </div>
  </div>
</div>
<div class="section--main">
<%-site.categories.find({name: 'notes'}).posts.sort('date', -1).limit(14)%>
</div>
