<div class="section--intro section--intro-home">
  <div class="container">
    <div class="row">
      <div class="col col-xs-12 col-sm-8 pad-xs">
        <p class="dek dek-xlg">Ian Rose is a designer living &amp; working in New York City.</p>
      </div>
    </div>
  </div>
</div>
<div class="section--main">
  <div class="container">
    <div class="row">
      <div class="layout--col col col-xs-12 col-sm-7 col-md-5 col-lg-5 pad-xs">
        <h2 class="heading--alt h4"><a href="categories/articles">Articles</a></h2>
        <%site.categories.findOne({name: 'articles'}).posts.sort('date', -1).limit(14).each(function(post) {%>
        <%- partial('_partial/index-article', {post: post, index: true}) %>
        <% })%>
      </div>
      <div class="layout--col layout--work col col-xs-12 col-sm-5 col-md-4 col-lg-4 pad-xs pad-xs">
        <h2 class="heading--alt h4"><a href="categories/work">Work</a></h2>
        <%site.categories.findOne({name: 'work'}).posts.sort('date', -1).limit(14).each(function(post) {%>
        <%- partial('_partial/index-work', {post: post, index: true}) %>
        <% })%>
      </div>
      <div class="layout--notes col col-xs-12 col-sm-7 col-md-3 col-lg-3 pad-xs">
        <h2 class="heading--alt h4"><a href="categories/notes">Notes</a></h2>
        <%site.categories.findOne({name: 'notes'}).posts.sort('date', -1).limit(14).each(function(post) {%>
        <%- partial('_partial/index-note', {post: post, index: true}) %>
        <% })%>
      </div>
    </div>
  </div>
</div>
