{% import "entry.njk" as entry %}

{% macro set(data, idNum, path, heading, isHome=false) %}
<div class="row">
  <div class="section--id--l">
    <div class="section--id" aria-hidden="true">0{{idNum}}</div>
  </div>
  <div class="section--posts section-posts-number">
    <div class="meta--contianer">
      <h2 class="meta--txt meta--primary meta--heading">
        <a href="{{path}}">{{heading}}</a>
      </h2>
    </div>
    <div class="row">
      {% for post in data | reverse %}
        {{entry.set(post.data, isHome)}}
      {% endfor %}
    </div>
  </div>
</div>
{% endmacro %}
