.article {
  border-bottom-style: solid;
  border-bottom-color: $border-color;
  margin-bottom: emRhythm(1);
  @include rhythmBorderBottom(1px, 1);
}

.article img {
  display: block;
  margin-bottom: emRhythm($base-line-multi);
  max-width: 100%;
  height: auto;

  @media (min-width: $screen-sm-min) {
    float: left;
    width: 50%;
    margin-right: emRhythm($base-line-multi);
    margin-top: emRhythm(($base-line-multi / 3.5), $silent: true);
  }
}

.article img + p {
  @if($paragraph-indent) {
    margin-top: emRhythm($base-line-multi * -1);
    text-indent: emRhythm($base-line-multi);
  }
}

.media-full {
  float: none;
}
