@mixin rhythmBorderTop($border-width, $lines) {
  border-top-width: $border-width;
  $padding-amount: ($base-line-height * $lines) - $border-width;
  padding-top: emCalc($padding-amount);
}

@mixin rhythmBorderBottom($border-width, $lines, $context) {
  border-bottom-width: $border-width;
  $padding-amount: ($base-vertical-unit * $lines) - $border-width;
  padding-bottom: emCalc($padding-amount, $context);
}