@font-face {
  font-family: 'Source Sans Pro';
  src: url('/assets/fonts/sourcesanspro-black.woff2') format('woff2'),
       url('/assets/fonts/sourcesanspro-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('/assets/fonts/sourcesanspro-bold.woff2') format('woff2'),
       url('/assets/fonts/sourcesanspro-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('/assets/fonts/sourcesanspro-regular.woff2') format('woff2'),
       url('/assets/fonts/sourcesanspro-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Source Serif Pro';
  src: url('/assets/fonts/sourceserifpro-bold.woff2') format('woff2'),
       url('/assets/fonts/sourceserifpro-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Source Serif Pro';
  src: url('/assets/fonts/sourceserifpro-regular.woff2') format('woff2'),
       url('/assets/fonts/sourceserifpro-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
