@font-face {
  font-family: 'oksans';
  font-style: normal;
  font-weight: 400;
  src:
    url('/assets/fonts/H5c1IXWmGNYIe0-400.woff2') format('woff2'),
    url('/assets/fonts/H5c1IXWmGNYIe0-400.woff') format('woff');
}

@font-face {
  font-family: 'oksans';
  font-style: normal;
  font-weight: 700;
  src:
    url('/assets/fonts/H5c1IXWmGNYIe0-700.woff2') format('woff2'),
    url('/assets/fonts/H5c1IXWmGNYIe0-700.woff') format('woff');
}

@font-face {
  font-family: 'oksans';
  font-style: normal;
  font-weight: 900;
  src:
    url('/assets/fonts/H5c1IXWmGNYIe0-900.woff2') format('woff2'),
    url('/assets/fonts/H5c1IXWmGNYIe0-900.woff') format('woff');
}

@font-face {
  font-family: 'hserif';
  font-style: normal;
  font-weight: 400;
  src:
    url('/assets/fonts/5iIOE5lzbMEQrK-400.woff2') format('woff2'),
    url('/assets/fonts/5iIOE5lzbMEQrK-400.woff') format('woff');
}

@font-face {
  font-family: 'hserif';
  font-style: italic;
  font-weight: 400;
  src:
    url('/assets/fonts/5iIOE5lzbMEQrK-400i.woff2') format('woff2'),
    url('/assets/fonts/5iIOE5lzbMEQrK-400i.woff') format('woff');
}

@font-face {
  font-family: 'hserif';
  font-style: normal;
  font-weight: 700;
  src:
    url('/assets/fonts/5iIOE5lzbMEQrK-700.woff2') format('woff2'),
    url('/assets/fonts/5iIOE5lzbMEQrK-700.woff') format('woff');
}
