@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src:
    local('Source Sans Pro'),
    local('SourceSansPro-Regular'),
    url('/assets/fonts/source-sans-pro-v9-latin-regular.woff2') format('woff2'),
    url('/assets/fonts/source-sans-pro-v9-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src:
    local('Source Sans Pro Bold'),
    local('SourceSansPro-Bold'),
    url('/assets/fonts/source-sans-pro-v9-latin-700.woff2') format('woff2'),
    url('/assets/fonts/source-sans-pro-v9-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src:
    local('Source Sans Pro Black'),
    local('SourceSansPro-Black'),
    url('/assets/fonts/source-sans-pro-v9-latin-900.woff2') format('woff2'),
    url('/assets/fonts/source-sans-pro-v9-latin-900.woff') format('woff');
}

@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src:
    local('Source Serif Pro'),
    local('SourceSerifPro-Regular'),
    url('/assets/fonts/source-serif-pro-v4-latin-regular.woff2') format('woff2'),
    url('/assets/fonts/source-serif-pro-v4-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 700;
  src:
    local('Source Serif Pro Bold'),
    local('SourceSerifPro-Bold'),
    url('/assets/fonts/source-serif-pro-v4-latin-700.woff2') format('woff2'),
    url('/assets/fonts/source-serif-pro-v4-latin-700.woff') format('woff');
}
