<article>
  <h1 class="heading heading--page">About</h1>
  <p class="dek--intro">Ian Rose is a designer focused on editorial design &amp; front-end architecture living in New York City.</p>
  <div class="row">
    <h2 class="section--heading">Contact</h2>
    <p class="section--body">
      <em>Email</em> <a href="mailto:ian@ianrose.me">ian@ianrose.me</a><br>
      <em>Twitter</em> <a href="http://twitter.com/thatianrose">@ThatIanRose</a><br>
      <em>GitHub</em> <a href="http://github.com/ianrose">ianrose</a>
    </p>
  </div>
  <div class="row">
    <h2 class="section--heading">Overview</h2>
    <p class="section--body">I’m a Front-end Designer at <a href="http://www.nbcuni.com/digital/nbc-news-digital/" title="NBC News Digital" target="_blank" rel="external">NBC News Digital</a>. I take pride in designing and building clean, accessible, creative interactive media. I get pumped about CSS, HTML, typography, mobile development, responsive web design, and the idea that people use the things that I create. Before NBC News I worked in New Orleans at the design studio <a href="http://thinkabig.com/" title="Thinka" target="_blank" rel="external">Thinka</a> and before that the ad agency <a href="http://z-comm.com/" title="z-comm.com" target="_blank" rel="external">Zehnder Communications</a>. I’m also the creator of <a href="http://typesettings.io/" title="typesettings.io" target="_blank" rel="external">Typesettings</a> and <a href="https://github.com/ianrose/gridsettings" title="GitHub" target="_blank" rel="external">Gridsettings</a>.</p>
  </div>
  <div class="row">
    <h2 class="section--heading">Clients</h2>
    <p class="section--body">NBC News, Sony, vh1, Disney, VooDoo Music Experience, Hyatt, Visit Baton Rouge, Louisiana Charter Schools</p>
  </div>
  <div class="row">
    <h2 class="section--heading">Colophon</h2>
    <p class="section--body">This site is built with <a href="http://hexo.io/" title="hexo.io" target="_blank" rel="external">Hexo</a>, <a href="http://sass-lang.com/" title="Sass-lang.com" target="_blank" rel="external">Sass</a>, <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Flexible_boxes" title="MDN" target="_blank" rel="external">CSS Flexbox</a> and hosted on <a href="https://github.com/ianrose/ianrose.github.io" title="GitHub Repo" target="_blank" rel="external">GitHub</a>. The body text is set in <a href="http://www.fonts.com/font/dstype-foundry/leitura-news?isRatingExpanded=False" title="fonts.com" target="_blank" rel="external">Leitura News</a>. Supplmentary text is set in <a href="http://www.fonts.com/font/dstype-foundry/leitura/display-roman" title="fonts.com" target="_blank" rel="external">Leitura Display</a>. The headings are set in <a href="http://www.fonts.com/font/linotype/neue-haas-grotesk#product_top" title="fonts.com" target="_blank" rel="external">Neue Haas Grotesk Display</a> while the UI elements are in <a href="http://www.fonts.com/font/linotype/neue-haas-grotesk#product_top" title="fonts.com" target="_blank" rel="external">Neue Haas Grotesk</a>. All the fonts are served by <a href="http://www.fonts.com/" title="Fonts.com" target="_blank" rel="external">fonts.com</a> and the CDN is provided by <a href="https://www.cloudflare.com/" title="cloudflare.com" target="_blank" rel="external">CloudFlare</a>. Also, thanks to <a href="http://bradoyler.com" title="bradoyler.com" target="_blank" rel="external">Brad Oyler</a> for all his help.</p>
  </div>
</article>
