<article>
  <h1 class="heading heading--page">About</h1>
  <p class="dek--intro">Ian Rose is a designer focused on editorial design &amp; front-end architecture living in New York City.</p>
  <div class="row">
    <h2 class="section--heading">Contact</h2>
    <p class="section--body">
      Email <a href="mailto:ian@ianrose.me">ian@ianrose.me</a><br>
      Twitter <a href="http://twitter.com/thatianrose">@ThatIanRose</a><br>
      GitHub <a href="http://github.com/ianrose">ianrose</a>
    </p>
  </div>
  <div class="row">
    <h2 class="section--heading">Overview</h2>
    <p class="section--body">I’m a Front-end Designer at <a href="http://www.nbcuni.com/digital/nbc-news-digital/" title="NBC News Digital" target="_blank" rel="external">NBC News Digital</a>. I take pride in designing and building clean, accessible, creative interactive media. I get pumped about CSS, HTML, typography, mobile development, responsive web design, and the idea that people use the things that I create. Before NBC News I worked in New Orleans at the design studio <a href="http://thinkabig.com/" title="Thinka" target="_blank" rel="external">Thinka</a> and before that the ad agency <a href="http://z-comm.com/" title="z-comm.com" target="_blank" rel="external">Zehnder Communications</a>. I’m also the creator of <a href="http://typesettings.io/" title="typesettings.io" target="_blank" rel="external">Typesettings</a>, <a href="https://github.com/ianrose/gridsettings" title="GitHub" target="_blank" rel="external">Gridsettings</a> and <a href="https://github.com/ianrose/storysettings" title="GitHub" target="_blank" rel="external">Storysettings</a>.</p>
  </div>
  <div class="row">
    <h2 class="section--heading">Clients</h2>
    <p class="section--body">NBC News, Sony, vh1, Disney, VooDoo Music Experience, Hyatt, Visit Baton Rouge, Louisiana Charter Schools</p>
  </div>
  <div class="row">
    <h2 class="section--heading">Colophon</h2>
    <p class="section--body">This site is built with <a href="http://harpjs.com/" title="harpjs.com" target="_blank" rel="external">Harp.js</a>, <a href="http://sass-lang.com/" title="Sass-lang.com" target="_blank" rel="external">Sass</a>, <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Flexible_boxes" title="MDN" target="_blank" rel="external">CSS Flexbox</a> and hosted on <a href="http://surge.sh" title="Host" target="_blank" rel="external">Surge.sh</a>. The body text is set in <a href="https://www.google.com/fonts/specimen/Source+Serif+Pro" title="google.com/fonts" target="_blank" rel="external">Source Serif Pro</a>. The headings and UI elements are set in <a href="https://www.google.com/fonts/specimen/Source+Sans+Pro" title="google.com/fonts" target="_blank" rel="external">Source Sans Pro</a>. Also, thanks to <a href="http://bradoyler.com" title="bradoyler.com" target="_blank" rel="external">Brad Oyler</a> for all his help.</p>
  </div>
</article>
