<p class="heading heading--page heading--home"><%- description %></p>
<div class="row">
  <div class="section--id--l">
    <div class="section--id" aria-hidden="true">01</div>
  </div>
  <div class="section--posts">
    <div class="meta--container">
      <h2 class="meta--txt meta--primary meta--heading">Articles</h2>
    </div>
    <div class="row">
      <% for(var slug in public.articles._data){ %>
      <% var entry = public.articles._data[slug] %>
      <% var date = entry.date %>
      <% var modified = entry.modified %>
      <% include _includes/entry %>
      <% } %>
    </div>
  </div>
</div>
<div class="row">
  <div class="section--id--l">
    <div class="section--id" aria-hidden="true">02</div>
  </div>
  <div class="section--posts">
    <div class="meta--container">
      <h2 class="meta--txt meta--primary meta--heading">Work</h2>
    </div>
    <div class="row">
      <% for(var slug in public.work._data){ %>
      <% var entry = public.work._data[slug] %>
      <% var date = entry.date %>
      <% var modified = entry.modified %>
        <% include _includes/entry %>
      <% } %>
    </div>
  </div>
</div>
<div class="row">
  <div class="section--id--l">
    <div class="section--id" aria-hidden="true">03</div>
  </div>
  <div class="section--posts">
    <div class="meta--container">
      <h2 class="meta--txt meta--primary meta--heading">Notes</h2>
    </div>
    <div class="row">

    </div>
  </div>
</div>
