.site-menu {
//  display: none;
  position: fixed;
  background-color: $background-color;
  width: $site-menu-width;
  padding-left: $grid-pad;
}


.layout--main {
  margin-top: emRhythm($base-line-multi);
  padding-left: $site-menu-width;
  margin-bottom: emRhythm(9);

  & > .container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1;
    margin-bottom: emRhythm(9);
  }
}

.layout--post-meta {
  min-height: $site-header-height;
}

.layout--footer-col {
  padding-top: emRhythm(1);
  border-top: $border-width-narrow solid $text-color;
}
