<form class="form form--inline form--box" style="text-align: center;" action="https://tinyletter.com/ian-rose" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/ian-rose', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
	<p>
		<label for="tlemail">Sign up to have updates sent directly to your inbox.</label>
	</p>
	<input type="text" placeholder="Your email here" name="email" id="tlemail"/>
	<input type="hidden" value="1" name="embed"/>
	<input type="submit" value="Subscribe" class="btn btn--default"/>
</form>
