<nav id="js-menu" class="nav" itemprop="breadcrumb">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/articles">Articles</a></li>
    <li><a href="/work">Work</a></li>
  </ul>
</nav>
