// ---------------------
// Button Variables
// ---------------------
$button-txt-color: $link-color;

// ---------------------
// Button Base
// ---------------------
.button {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
  display: inline-block;
  text-align: center;
  border-style: solid;
  background-image: none;
  vertical-align: middle;
  border-radius: 50px;
  padding-left: 1em;
  padding-right: 1em;
  border-left-width: 2px;
  border-right-width: 2px;
  cursor: pointer;
  white-space: nowrap;
  font-weight: bold;
  font-family: $font-sans;
  @include rhythmBorderTop($base-em-font-size, 2px, 1);
  @include rhythmBorderBottom($base-em-font-size, 2px, 1);
}

a.button {
  color: $button-txt-color;
}

// ---------------------
// Button Types
// ---------------------
.button-default {
  border-color: $button-txt-color;

  .no-touch &:hover {
    background-color: $button-txt-color;
    color: #fff;
  }
}

.button-link {
  border-color: transparent;
}

// ---------------------
// Button Sizes
// ---------------------
.button-small {

}

.button-large {

}