*, *:before, *:after {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  transition: color 0.25s ease;
  text-decoration: none;
  position: relative;
  color: $link-color;

  p &:link {
    text-decoration: underline;
  }

  &:link, &:visited {
    text-decoration: none;
  }

  .no-touch &:hover, &:active {
    color: lighten($link-color, 15%);
  }
}

nav {
  ul {
    list-style: none;
  }
}