* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  font-size: ($base-font-size / 16px) * 100%;
}

body {
  font-family: $font-serif;
  font-weight: 400;
  line-height: $base-line-height;
  color: $text-color;
}

a {
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  transition: color 0.25s ease;
  text-decoration: none;
  position: relative;

  &:link, &:visited {
    color: $link-color;
    text-decoration: underline;
  }

  &:hover, &:active {
    color: lighten($link-color, 15%);
    text-decoration: none;
  }
}

nav {
  ul {
    list-style: none;
  }
}