h1, .h2, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: $font-sans;
  font-weight: bold;
  text-transform: uppercase;
}

// 1. Mobile first heading size based on the modular scale ratio.
// 2. Sets a margin bottom that is 4 x of the base vertical unit. Set in EMs so the $font-size provides the context
// 3. Type font size and line-height mixin. Takes the $h1-size and converts that from px to EM and then sets a unitless line-height that is 5 multiples of our $base-vertical-unit
h1, .h1 {
  $font-size: $h1-size / ($type-ratio * $type-ratio); // [1]
  margin-bottom: emRhythm(4, $font-size); // [2]
  @include setType($font-size, 6); // [3]

  @media (min-width: 43.75em) {
    $font-size: $h1-size / $type-ratio;
    margin-bottom: emRhythm(4, $font-size);
    @include setType($font-size, 7);
  }

  @media (min-width: 56.25em) {
    $font-size: $h1-size;
    letter-spacing: -2px;
    margin-bottom: emRhythm(4, $font-size);
    @include setType($font-size, 10);
  }
}

h2, .h2 {
  $font-size: $h2-size / ($type-ratio * $type-ratio);
  margin-bottom: emRhythm(4, $font-size);
  @include setType($font-size, 5);

  @media (min-width: 43.75em) {
    $font-size: $h2-size / $type-ratio;
    margin-bottom: emRhythm(4, $font-size);
    @include setType($font-size, 6);
  }

  @media (min-width: 56.25em) {
    $font-size: $h2-size;
    margin-bottom: emRhythm(4, $font-size);
    @include setType($font-size, 8);
  }
}

h3, .h3 {
  $font-size: $h3-size / $type-ratio;
  margin-bottom: emRhythm(4, $font-size);
  @include setType($font-size, 5);

  @media (min-width: 56.25em) {
    $font-size: $h3-size;
    margin-bottom: emRhythm(4, $font-size);
    @include setType($font-size, 6);
  }
}

h4, .h4 {
  $font-size: $h4-size;
  margin-bottom: emRhythm(4, $font-size);
  @include setType($font-size, 5);
}

h5, .h5 {
  $font-size: $h5-size;
  margin-bottom: emRhythm(4, $font-size);
  @include setType($font-size, 4);

}

h6, .h6 {
  @extend h5;
}

p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  max-width: 36em;
  margin-bottom: emRhythm(4);

  @media (min-width: 43.75em) {
    text-align: justify;
  }
}

p + p {
  margin-top: emRhythm(-4);
  text-indent: emRhythm(4);
}

small, .font-small {
  @include setType(13px, 3);
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

blockquote {
  font-family: $font-mono;
  font-weight: bold;
  margin-top: emRhythm(4);
  margin-bottom: emRhythm(4);
  padding-left: emRhythm(4);
  margin-left: emRhythm(-5);
  border-left: $base-vertical-unit solid lighten(#000, 50%);

  footer {
    cite {
      &:before {
        content: " – ";
      }
    }
  }
}

pre, code {
  font-family: $font-mono;
}

time, .time {
  text-transform: uppercase;
}

ul {
  list-style: disc;

  ul {
    margin-bottom: 0;
  }
}

ol {

  ol {
    margin-bottom: 0;
  }
}

ol {
  list-style: decimal;
}

ol, ul {
  margin-bottom: emRhythm(4);
  margin-left: emRhythm(4);
}

abbr {
  font-variant: small-caps; /* https://developer.mozilla.org/en-US/docs/CSS/font-variant */
  font-weight: 600;
  text-transform: lowercase;
}

abbr[title]:hover {
  cursor: help; /* cursor changed to a question mark when it has a title */
}