header + .article--body p:first-child:first-line {
  font-weight: 700;
}

@if $paragraph-indent {
  .article--post {
    p + p {
      margin-top: emRhythm($base-line-multi * -1);
      text-indent: emRhythm($base-line-multi);
    }
  }
}
