.article--body p:first-of-type:first-line {
  font-weight: 600;
}

.article--body > p:last-child:after {
  content: '\25c6';
}

@if $paragraph-indent {
  .article--post {
    p + p {
      margin-top: emRhythm($base-line-multi * -1);
      text-indent: emRhythm($base-line-multi);
    }
  }
}

.article--post {
  margin-bottom: emRhythm(9);

  header {
    margin-bottom: emRhythm($base-line-multi);
  }

  img {
    @extend .img-responsive;
    margin-left: auto;
    margin-right: auto;
  }

  figure {
    margin-bottom: emRhythm(3);
  }
}

