.dek--lg {
  font-style: italic;
  margin-bottom: emRhythm(1, $ms-up1);
  @include setType(3.5, $ms-up1, $silent: true);
}

.dek--sm {
  @include setType(2, $ms-down1);
}

.dek--intro {
  @extend .h1;
  margin-bottom: $site-header-height / 2;

  @media (min-width: $screen-lg-min) {
    flex-basis: $span-6;
    margin-left: $span-1;
  }
}
