.dek--lg {
  font-style: italic;
  margin-bottom: emRhythm(1, $ms-up1);
  @include setType(3.5, $ms-up1, $silent: true);
}

.dek--sm {
  margin-bottom: 0;
  @include setType(2, $ms-down1);
}

.dek--intro {
  @extend .h1;
  margin-bottom: $site-header-height / 2;

  @media (min-width: $screen-lg-min) {
    margin-left: $span-1;
    padding-left: $gutter;
    padding-right: $gutter;
  }
}
