.entry {
  margin-bottom: emRhythm(6);
}

.entry--post {
  flex-basis: $span-half;
  padding-left: $gutter;
  padding-right: $gutter;
}

.entry--media {
  display: block;
}

.entry--category-container {
  flex-basis: $span-half;
  max-width: $span-6;
  padding-left: $gutter;
  padding-right: $gutter;
  display: flex;
}

.entry--category {
  border-bottom: $border-width-narrow solid $text-color;
}

.entry-heading--category {
  @extend .h2;
}
