.heading--page {
  @extend .h1;
  font-family: $font-display-serif;
  font-weight: 600;
  padding-left: $gutter;
  padding-right: $gutter;

  @media (min-width: $screen-sm-min) {
    min-height: $site-header-height;
    margin-bottom: 0;
  }

  @media (min-width: $screen-lg-min) {
    flex-basis: $span-6;
    margin-left: $span-1;
  }
}
