.media--entry {
  margin-bottom: emRhythm(1);
}

.media-full {

  @media (min-width: $screen-md-min) {
    width: $container-md-width;
    margin-left: $grid-pad * -1;
  }

  @media (min-width: $screen-lg-min) {
    width: $container-lg-width;
    margin-left: $grid-pad * -1;
  }

  @media (min-width: $screen-xl-min) {
    width: $container-xl-width;
    margin-left: -170px;
  }
}

.media-full figcaption {
  margin-top: $base-vertical-unit;
  @media (min-width: $screen-lg-min){
    position: absolute;
    right: 0;
    padding-left: $grid-pad * 2;
    padding-right: $grid-pad;
    @extend .col-md-2;
  }
}

.media-small {
  .article--post & {
    float: right;
    padding-left: $grid-pad * 2;
    max-width: 50%;

    @media (min-width: $screen-lg-min) {
      position: absolute;
      right: 0;
      padding-right: $grid-pad;
      @extend .col-md-2;
    }
  }
}
