.meta--link {
  text-transform: capitalize;

  &:link,
  &:visited {
    text-decoration: none;
    color: $text-color;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: $light-grey;
  }
}

.meta--txt {
  font-family: $font-sans;
  margin-bottom: emRhythm(0.5, $ms-down1, $silent: true);
  @include setType(2, $ms-down1);
}

.meta--heading {
  border-top: $border-width-narrow solid $text-color;
  padding-top: emRhythm(1, $ms-down1);
}

.meta--primary {
  font-weight: 600;
}

.meta--alt {
  font-weight: 400;
  color: $light-grey;
}
