$meta-size: $ms-down1;

.meta--link {
  text-transform: capitalize;

  &:link,
  &:visited {
    text-decoration: none;
    color: $text-color;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: $light-grey;
  }
}

.meta--txt {
  font-family: $font-sans;
  margin-bottom: emRhythm(0.5, $meta-size, $silent: true);
  @include setType(2, $meta-size);
}

.meta--heading {
  border-top: $border-width-narrow solid $text-color;
  padding-top: emRhythm(1, $ms-down1);
  margin-bottom: emRhythm(6, $ms-down1);
}

.meta--container-post {
  flex-basis: $span-2;
}

.meta--container {
  padding-left: $gutter;
  padding-right: $gutter;
}

.meta--container-post:first-child {
  margin-left: $span-1;

}

.meta--container-post:last-child {
  margin-left: $span-2;
}

.meta--primary {
  font-weight: 600;
}

.meta--alt {
  font-weight: 400;
  color: $light-grey;
}

.meta--post--l {
  min-height: $site-header-height;
}
