.nav {

}

.nav--post-heading {
  border-top: $border-width-narrow solid $grey;
  padding-top: emRhythm(1, $ms-down1);
  margin-bottom: emRhythm(0.5, $ms-down1, $silent: true);
  @include setType(2, $ms-down1);
}
