.nav ul {
  list-style: none;
  padding-left: 0;
}

.nav ul a {
  font-family: $font-sans;
  text-decoration: none;
  font-weight: 400;
  @include setType(2, $ms-down1);
}

.nav--post-heading {
  border-top: $border-width-narrow solid $grey;
  padding-top: emRhythm(1, $ms-down1);
  margin-bottom: emRhythm(0.5, $ms-down1, $silent: true);
  @include setType(2, $ms-down1);
}
