.nav ul {
  list-style: none;
  padding-left: 0;
}

.nav a {
  font-family: $font-sans;
  text-decoration: none;
  vertical-align: text-top;
  @include setType(2, $ms-down1);
}

.nav--post-heading {
  padding-top: emRhythm(1, $ms-down1);
  margin-bottom: emRhythm(0.5, $ms-down1, $silent: true);
  @include setType(2, $ms-down1);
}

.nav--post-heading {
  border-top: $border-width-narrow solid $grey;
}

.nav--post-button {
  flex-basis: $span-1;
  max-width: $span-1;
  padding-left: $gutter;
  padding-right: $gutter;
}

.nav--post-button a {
  display: block;
  padding-top: emRhythm(1);
  border-top: none;

  @media (min-width: $screen-md-min) {
    border-top: $border-width-narrow solid $grey;
  }
}

.nav--prev,
.nav--next {
  flex-basis: $span-2;
  max-width: $span-2;
  padding-left: $gutter;
  padding-right: $gutter;
}
.nav--next {
  @media (min-width: $screen-md-min) {
    margin-left: $span-1;
  }
}

.nav--prev + .nav--post-button {
  order: -1;
  margin-bottom: $gutter;
}

.nav--menu {
  padding-right: $gutter;
  padding-left: $gutter;

  @media (min-width: $screen-sm-min) {
    position: fixed;
    background-color: $background-color;
    width: $site-menu-width;
    padding-left: $gutter * 2;
    padding-right: $gutter;
    bottom: 0;
    top: 0;
  }
}

.nav--menu nav {
  max-height: 0;
  overflow-y: hidden;

  @media (min-width: $screen-sm-min) {
    max-height: none;
  }
}

nav.is-open {
  max-height: none;
}
