.site-title--name {
  display: inline-block;
  font-family: $font-sans;
  @include setType($base-line-multi, $ms-down1);

  @media (min-width: $screen-sm-min) {
    display: block;
    margin-bottom: emRhythm(10, $ms-down1);
  }
}

.site-title--name a {
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
}

.site-title--sub {
  display: inline-block;
  color: $light-grey;
  margin-bottom: 0;
  @include setType($base-line-multi, $ms-down1);

  @media (min-width: $screen-sm-min) {
    display: block;
    border-bottom: $border-width-narrow solid $text-color;
  }
}
