.site-title--name {
  font-family: $font-sans;
  margin-bottom: emRhythm(10, $ms-down1);
  @include setType($base-line-multi, $ms-down1);
}

.site-title--name a {
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
}

.site-title--sub {
  color: $light-grey;
  margin-bottom: 0;
  @include setType($base-line-multi, $ms-down1);
}
