.btn {
  border: none;
  vertical-align: baseline;
  font-family: $font-sans;
  color: #fff;
  display: inline-block;
  border-radius: 0;
  transition: background-color $trans-dur $trans-ease;
}

.btn--default {
  background-color: $link-color;
  padding-top: emRhythm(2);
  padding-bottom: emRhythm(2);
  padding-left: emRhythm(3);
  padding-right: emRhythm(3);
  @include setType();

  &:hover {
    background-color: $link-color-active;
  }

  &:active {
    color: darken(#fff, 10%);
  }
}

.btn--menu {
  float: left;
  line-height: 30px;
  padding: emRhythm(2, $ms-up2);
  background-color: #000;
  border-right: 1px solid $grey;
  @include setType(5, $ms-up2);

  &:hover {
    background-color: $grey;
  }

  &:active {
    color: darken(#fff, 10%);
  }

  &:focus {
    outline: none;
    background-color: $grey;
  }

  @media (min-width: $screen-sm-min) {
    display: none;
    margin: 0;
  }
}