.dek {
  font-family: $font-display-serif;
  font-style: italic;
  margin-bottom: emRhythm(10, $ms-up1);
  text-rendering: optimizeLegibility;
  @include setType(5, $ms-up1);

  @media (min-width: $screen-sm-min) {
    margin-bottom: emRhythm(10, $ms-up2);
    @include setType(6, $ms-up2);
  }

  @media (min-width: $screen-md-min) {
    margin-bottom: emRhythm(10, $ms-up3);
    @include setType(7, $ms-up3);
  }
}

.dek--archive {
  font-style: normal;
}

.dek + p,
.dek + img + p {
  margin-top: 0;
}

.dek-lg {
  font-style: normal;
  margin-bottom: 0;
  @include setType(6, $ms-up3);

  @media (min-width: $screen-sm-min) {
    @include setType(9, $ms-up5);
  }
}

.dek-xlg {
  font-style: normal;
  margin-bottom: 0;
  @include setType(6, $ms-up3);

  @media (min-width: $screen-sm-min) {
    @include setType(9, $ms-up5);
  }

  @media (min-width: $screen-md-min) {
    @include setType(11, $ms-up6);
  }

  @media (min-width: $screen-lg-min) {
    @include setType(14, $ms-up7);
  }
}
