.details {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: emRhythm(1);
  @include setType($base-line-multi, $share-size);

  @media (min-width: $screen-md-min) {
    border: none;
  }
}

.details > li {
  margin-right: 0;
  margin-bottom: emRhythm(1, $share-size);
  border-bottom-style: solid;
  border-bottom-color: $border-color;
  @include rhythmBorderBottom(1px, 1, $share-size);

}
