$entry-meta-item-size: $ms-down1;

.entry-meta-item {
  display: inline-block;
  margin-right: emRhythm(1, $entry-meta-item-size);
  @include setType(3, $entry-meta-item-size);
}

.entry-meta-item--category {
  border-right: 1px solid $border-color;
  font-weight: 800;
  font-family: $font-sans;

  @media (min-width: $screen-md-min) {
    margin-bottom: emRhythm(2, $entry-meta-item-size);
  }
}

.entry-meta-item--tag {
  color: $aside-txt-color;
  padding-right: emRhythm(1, $entry-meta-item-size);
  line-height: unitlessRhythm(4, $entry-meta-item-size);

  a {
    color: $link-color;
  }
}

.entry-meta-item--time,
a.entry-meta-item--time {
  font-weight: 800;
  color: $red;

  @media (min-width: $screen-md-min) {
    margin-bottom: emRhythm(1, $entry-meta-item-size);
  }
}


.entry-meta-item--label {
  font-family: $font-sans;
  margin-right: emRhythm(1, $ms-down2);
}

.entry-meta-item--alt {
  margin-right: 0;
}
