.entry {
  margin-bottom: emRhythm(6);
  border-bottom-style: solid;
  border-bottom-color: $border-color;
  @include rhythmBorderBottom(1px, 6);
  @include clearfix();

  .col &:last-child {
    border-bottom: none;
  }
}

.entry h3 {
  margin-bottom: emRhythm(2, $ms-up2);
}

.entry--post,
.entry--work {
  margin-bottom: emRhythm(12);
}

.entry--work {
  img {
    margin-bottom: emRhythm(4);
  }
}