.entry-meta {
  border-top-style: solid;
  border-top-color: $border-color;
  @include rhythmBorderTop(1px, 1);
}

.entry-meta--container {
  border-bottom-color: $border-color;
  border-bottom-style: solid;
  margin-bottom: emRhythm(1);
  @include rhythmBorderBottom(1px, 1);
}
