.entry {
  margin-bottom: emRhythm(6);
  border-bottom-style: solid;
  border-bottom-color: $border-color;
  @include rhythmBorderBottom(1px, 6);
  @include clearfix();

  .col > &:last-child {
    border-bottom: none;
  }
}

.entry--post,
.entry--work {
  margin-bottom: emRhythm(12);
}

.entry--work {
  img {
    margin-bottom: emRhythm(4);
  }
}

.entry--post .highlight {
  overflow: auto;
  margin-right: 0;
}
