@font-face {
  font-family: 'kingthings_italiqueregular';
  src: url('../font/kingthings_italique-webfont.eot');
  src: url('../font/kingthings_italique-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/kingthings_italique-webfont.woff2') format('woff2'),
  url('../font/kingthings_italique-webfont.woff') format('woff'),
  url('../font/kingthings_italique-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.logo {
  font-family: $font-logo;
  font-weight: normal;
  font-size: 60px;
  position: absolute;
  top: 0;
  left: 0;
}