.footnotes,
#footnotes {
  margin-left: 0;
  color: $aside-txt-color;
  margin-bottom: emRhythm(4, $ms-down1);
  @include setType(3, $ms-down1);

  & li {
    margin-bottom: emRhythm(1, $ms-down1);
  }

  & ol {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  & hr {
    display: none;
  }

  & p {
    margin-bottom: 0;
  }
}
