input,
select,
textarea {
  -webkit-appearance: none;
  border-radius: 0;

  &:focus {
    outline: auto;
    outline-color: rgb(102, 175, 233);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
  }
}

.form {
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=url],
  input[type=date],
  input[type=month],
  input[type=time],
  input[type=datetime],
  input[type=datetime-local],
  input[type=week],
  input[type=number],
  input[type=search],
  input[type=tel],
  input[type=color],
  select,
  textarea {
    border: 1px solid $border-color;
    vertical-align: baseline;
    @include setType();
    @include rhythmBorder(1px, 2);
  }
}

.form--inline {
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=url],
  input[type=date],
  input[type=month],
  input[type=time],
  input[type=datetime],
  input[type=datetime-local],
  input[type=week],
  input[type=number],
  input[type=search],
  input[type=tel],
  input[type=color],
  select,
  textarea {
    display: inline-block;
    width: 100%;

    @media (min-width: $screen-sm-min) {
      width: auto;
    }
  }
}

.form--box {
  margin-top: emRhythm(6);
  margin-bottom: emRhythm(6);
}
