.media--full,
img.media--full{
  float: none;
  width: 100%;
}

.media--entry {
  float: left;
}

.media--entry-default {
  width: 120px;
  margin-right: emRhythm(1);
}

.media--entry-work {
  width: 124px;
  margin-right: emRhythm(2);

  @media (min-width: $screen-sm-min) {
    width: 176px;
  }
}

.media--illustration {
  width: 35%;
  float: left;
  margin-right: -8em;
  margin-top: -4em;
  margin-bottom: emRhythm(12);
}
