.section--intro {
  padding-top: emRhythm(10);
  padding-bottom: emRhythm(10);
}

.section--intro-home {
  color: #fff;
  background-color: #181818;

  @media (min-width: $screen-sm-min) {
    padding-top: emRhythm(20);
    padding-bottom: emRhythm(20);
  }
}

.section--intro-about {
  @media (min-width: $screen-sm-min) {
    padding-top: emRhythm(10);
    padding-bottom: 0;
  }
}

.section--main {
  padding-top: emRhythm(10);
  padding-bottom: emRhythm(10);

}

.section--main-home {
  background-color: #f3f3f3;
}

.section--footer {
  background-color: $blue;
}

.section--main-notes {
  padding-top: 0;
}
