.site-title {
  margin-bottom: 0;
  display: block;

  a:link,
  a:visited {
    color: #fff;
  }
}

.site-title--container {
  @include clearfix();
}

.site-title--name-container {
  background-color: #000;
  border-bottom: 1px solid $menu-border-color;
  position: relative;

  @media (min-width: $screen-sm-min) {
    border-bottom: 1px solid $menu-border-color;
  }
}

.site-title--desc-container {
  border-bottom: 1px solid $border-color;
}

.site-title--name {
  padding-top: emRhythm(2);
  padding-bottom: emRhythm(2);
  float: left;
  padding-left: emRhythm(2);
  padding-right: emRhythm(2);
  text-align: center;
  @include setType(5);

  @media (min-width: $screen-sm-min) {
    float: none;
    padding-left: 0;
    padding-right: 0;
  }
}

.site-title--desc {
  padding-top: emRhythm(2);
  padding-bottom: emRhythm(2);
  font-family: $font-narrow-sans;
  font-weight: 700;
  color: $red;
  text-align: center;
  text-transform: capitalize;
  @include setType(5);
}
