body.undefined {
  background-color: invert($background-color);
  color: invert($text-color);
}

.undefined {
  a,
  a:link {
    color: #fff;
    font-weight: 600;
  }

  a:visited {
    color: invert($text-color);
  }

  a:hover {
    color: $link-color;
  }

  a:active {
    color: darken($link-color, 30%);
  }
}
