$load-typesetted: false;
$font-serif: 'Mercury SSm A', 'Mercury SSm B', Georgia, serif;
$font-display-serif: 'Mercury Display A', 'Mercury Display B', Georgia, serif;
$font-sans: 'Gotham SSm A', 'Gotham SSm B', Arial, sans-serif;
$font-narrow-sans: 'Gotham XNarrow SSm A', 'Gotham XNarrow SSm B', 'Arial Narrow', sans-serif;
$font-logo: 'kingthings_italiqueregular';
$paragraph-indent: false;
$paragraph-justify: false;
$blockquote-right: false;
$base-font-size: 17px;
$base-line-multi: 5;
$ms-ratio: 1.25;
$base-vertical-unit: 6px;

// Colors
$text-color: #333333;
$aside-txt-color:lighten($text-color, 30%);
$light-blue: #059cc7;
$lightest-grey: #f3f3f3;
$grey: #333333;
$light-grey: lighten($grey, 20%);
$lighter-grey: darken($lightest-grey, 10%);
$yellow: #fefac1;
$red: #fa4949;
$blue: #0a189c;

$highlight-color: $yellow;
$blockquote-accent-color: lighten($text-color, 70%);
$site-bg-color: #fff;
$link-color: $blue;
$link-color-active: darken($link-color, 10%);
$border-color: $lighter-grey;
$accent-color: lighten($text-color, 30%);
$menu-border-color: lighten($text-color, 8%);
$twitter-blue: #55acee;
$facebook-blue: #3b5998;
$google-red: #dd4b39;

// Site Layout
$layout-nav-width: 142px;

// Grid Type, either flexbox or float based
$flexbox-grid: true;

// Breakpoints
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xs-max: ($screen-sm-min -1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

// Grid attributes
$grid-pad: 12px;
$grid-columns: 12;
$static-col-width: 300px;
$static-col-name: static;
$grid-col-name: col-;
$grid-xs-bp-name: xs-;
$grid-sm-bp-name: sm-;
$grid-md-bp-name: md-;
$grid-lg-bp-name: lg-;
$grid-push-name: push-;
$grid-pull-name: pull-;
$grid-offset-name: offset-;
$grid-container-name: container;
$grid-row-name: row;
$container-sm-width: 768px - $layout-nav-width;
$container-md-width: 950px - $layout-nav-width;
$container-lg-width: 1150px - $layout-nav-width;

//Animation

$trans-dur: 0.16s;
$trans-ease: linear;
