@import "config";

@import "modules/normalize";

@import "../components/typesettings/typesettings";
@import "helpers/mixins-functions";
@import "helpers/classes";

@import "modules/elements";
@import "modules/article";
@import "modules/dropcap";
@import "modules/dek";
@import "modules/entry";
@import "modules/entry-meta";
@import "modules/entry-meta-item";
@import "modules/icons";
@import "modules/share";
@import "modules/site-title";
@import "modules/footenotes";
@import "modules/grid";
@import "modules/theme";
@import "modules/media";
@import "modules/nav";
@import "modules/heading";
@import "modules/excerpt";
@import "modules/layout";
@import "modules/btn";
@import "modules/form";
@import "modules/list";
@import "modules/caption";
@import "modules/details";
@import "modules/highlight";

.section--intro {
  padding-top: emRhythm(6);

  @media (min-width: $screen-sm-min) {
    padding-top: emRhythm(20);
    padding-bottom: emRhythm(20);
  }
}

.section--intro-home {
  color: #fff;
  background-color: #181818;
}

.section--intro-about {
  padding-top: emRhythm(6);

  @media (min-width: $screen-sm-min) {
    padding-top: emRhythm(12);
    padding-bottom: emRhythm(12);
  }
}

.section--main {
  padding-top: emRhythm(10);
  padding-bottom: emRhythm(10);
  background-color: #f3f3f3;
}

.section--footer {
  background-color: $blue;
}
