<div class="container">
	<div class="row">
		<div class="col col-xs-12 col-md-12 pad-xs">
			<p class="dek dek-lg">Ian Rose is a designer focused on editorial design &amp; front-end architecture living &amp; working in<br class="hidden-xs"> New York City.</p>
		</div>
	</div>
	<div class="row">
		<div class="col col-xs-12 col-md-8 pad-xs">
			<h2 class="heading--alt h4">Information</h2>
			<%- page.content %>
		</div>
		<div class="col col-xs-12 col-md-4 pad-xs">
			<h2 class="heading--alt h4">Contact</h2>

			<p>You can find me on <a href="#">Twitter</a>, <a href="#">GitHub</a>,
				<a href="#">Google+</a>, and <a href="#">LinkedIn</a>.</p>

			<h2 class="heading--alt h4">Clients</h2>
			<ul class="list--sans">
				<li>NBC</li>
				<li>Sony</li>
				<li>vh1</li>
				<li>Disney</li>
				<li>VooDoo Music Experience</li>
				<li>Hyatt</li>
				<li>Visit Baton Rouge</li>
				<li>Louisiana Charter Schools</li>
			</ul>

			<h2 class="heading--alt h4">Reading</h2>


			<h2 class="heading--alt h4">Colophon</h2>

			<p>This site is a created with</p>
			<ul class="list--display">
				<li>Mercury body text and Mercury display and Gotham are used for
					headings and supplementary text.
				</li>
				<li>Fonts are served using typography.com</li>
				<li>Typesettings</li>
				<li>Gridsettings</li>
				<li>Sass</li>
				<li>Hexo</li>
				<li></li>
			</ul>
		</div>
	</div>
</div>
