@font-face {
  font-family: 'Source Sans Pro';
  src: url('/fonts/sourcesanspro-black.woff2') format('woff2'),
       url('/fonts/sourcesanspro-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('/fonts/sourcesanspro-bold.woff2') format('woff2'),
       url('/fonts/sourcesanspro-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('/fonts/sourcesanspro-regular.woff2') format('woff2'),
       url('/fonts/sourcesanspro-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Source Serif Pro';
  src: url('/fonts/sourceserifpro-bold.woff2') format('woff2'),
       url('/fonts/sourceserifpro-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Source Serif Pro';
  src: url('/fonts/sourceserifpro-regular.woff2') format('woff2'),
       url('/fonts/sourceserifpro-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

// Configuration
@import "config";

// Reset
@import "resets/normalize";

// Helper Mixins and Functions
@import "helpers/mixins-functions";

// Vendor
@import "../vendor/typesettings/typesettings";

// Elements
@import "base/base";

// Components
@import "components/article";
@import "components/back-to-top";
@import "components/button";
@import "components/byline";
@import "components/dek";
@import "components/entry";
@import "components/footer";
@import "components/footnotes";
@import "components/form";
@import "components/grid";
@import "components/heading";
@import "components/media";
@import "components/meta";
@import "components/nav";
@import "components/newsletter";
@import "components/prism";
@import "components/section";
@import "components/site-header";
@import "components/site-title";
@import "components/video-container";

// Layouts
@import "layouts/default";

// Helper Classes
@import "helpers/classes";

// Themes
@import "themes/cctv";
@import "themes/joule";
@import "themes/newsblock";
