.button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  border-radius: 4px;
  text-decoration: none;
  font-family: $font-sans;
  user-select: none;
  border-style: solid;
  border-color: $link-color-link;
  margin-bottom: emRhythm(4);
  @include rhythmBorder(2px, 3);
}