code,
pre,
pre.terminal {
  border-style: solid;
  border-radius: 3px;
  @include rhythmBorder(1px, 1, $ms-down1);
}

pre,
code {
  background-color: lighten($lightest-blue, 25%);
  border-color: #ddd;
}

// Standard
pre {
  padding-right: 1em;
  padding-left: 1em;
  margin-bottom: emRhythm(4);
  margin-top: 0;
}

code {
  padding-left: 0.2em;
  padding-right: 0.2em;
  @include setType(3, $ms-down1);
}

pre code {
  border: none;
}

// Terminal
pre.terminal {
  border-color: #000;
  background-color: #333;
  color: #fff;
}

pre.terminal code {
  background-color: #333;
}