.post-list {
  padding: 0;
  margin: 0;
}

.post-list {
  list-style: none;
}

.post-list-item {
  //  border-top-color: lighten($text-color, 60%);
  //  border-top-style: solid;
  //  @include rhythmBorderTop(1px, 6);
}

.title,
.post,
.post-list-item {
  border-bottom-color: lighten($text-color, 60%);
  border-bottom-style: solid;
  margin-bottom: emRhythm(4);
  @include rhythmBorderBottom(1px, 4);
}

.post-header {
  text-align: center;

  .meta {
    text-align: center;
    max-width: none;
  }
}

.post > p:first-of-type:first-letter {
  float: left;
  margin: auto .175em auto auto;
  padding: inherit;
  font-size: 4.5em;
  font-family: inherit;
  line-height: 1;
  text-indent: 0;
  background: transparent;
  color: inherit;
  font-weight: bold;
}

.post-share {
  border-bottom-color: lighten($text-color, 60%);
  border-bottom-style: solid;
  margin-bottom: emRhythm(4);
  @include rhythmBorderBottom(1px, 4);
}