.post-list {
  margin-bottom: 0;
}

.post-container,
.post-list {
  padding-left: emRhythm(4);
  padding-right: emRhythm(4);
}

.post-list,
.post {
  max-width: 36em;
  margin-left: auto;
  margin-right: auto;
}

.post-list {
  list-style: none;
}

.post-list-item {
  border-bottom-color: lighten($text-color, 60%);
  border-bottom-style: solid;
  margin-bottom: emRhythm(8);
  @include rhythmBorderBottom(1px, 4);
}

.post-header {
  text-align: center;

  .meta {
    text-align: center;
    max-width: none;
  }
}

.post > p:first-of-type:first-letter {
  float: left;
  margin: auto .25em auto auto;
  padding: inherit;
  font-size: 4em;
  font-family: inherit;
  line-height: 1;
  text-indent: 0;
  background: transparent;
  color: inherit;
  font-weight: bold;
}