.post-list {
  padding: 0;
  margin: 0;
}

.post-list {
  list-style: none;
}

.post-list-item {
  //  border-top-color: lighten($text-color, 60%);
  //  border-top-style: solid;
  //  @include rhythmBorderTop(1px, 6);
}

.title,
.post,
.post-list-item {
  border-bottom-color: lighten($text-color, 60%);
  border-bottom-style: solid;
  margin-bottom: emRhythm(4);
  @include rhythmBorderBottom(1px, 4);
}

.post-header {
  text-align: center;

  .meta {
    text-align: center;
    max-width: none;
  }
}

.post > p:first-of-type:first-letter {
  float: left;
  margin: auto .175em auto auto;
  padding: inherit;
  font-size: 4.5em;
  font-family: inherit;
  line-height: 1;
  text-indent: 0;
  background: transparent;
  color: inherit;
  font-weight: bold;
}

.post-share {
  border-bottom-color: lighten($text-color, 60%);
  border-bottom-style: solid;
  margin-bottom: emRhythm(4);
  @include rhythmBorderBottom(1px, 4);
}

.post {

  h1, .h1 {
    margin-bottom: emRhythm(2, $ms-up2); // [1]
    @include setType(6, $ms-up2); // [2]

    @media (min-width: 43.75em) {
      // [3]
      margin-bottom: emRhythm(2, $ms-up3); // [4]
      @include setType(8, $ms-up3); // [5]
    }

    @media (min-width: 56.25em) {
      margin-bottom: emRhythm(2, $ms-up4);
      @include setType(10, $ms-up4);
    }
  }

  h2, .h2 {
    margin-bottom: emRhythm(2, $ms-up1);
    @include setType(5, $ms-up1);

    @media (min-width: 43.75em) {
      margin-bottom: emRhythm(2, $ms-up2);
      @include setType(6, $ms-up2)
    }

    @media (min-width: 56.25em) {
      margin-bottom: emRhythm(2, $ms-up3);
      @include setType(8, $ms-up3);
    }
  }

  h3, .h3 {
    margin-bottom: emRhythm(2, $ms-up1);
    @include setType(5, $ms-up1);

    @media (min-width: 56.25em) {
      margin-bottom: emRhythm(2, $ms-up2);
      @include setType(6, $ms-up2);
    }
  }

  h4, .h4 {
    margin-bottom: emRhythm(2, $ms-up1);
    @include setType(5, $ms-up1);
  }

  h5, .h5,
  h6, .h6 {
    margin-bottom: emRhythm(2);
    @include setType(4);
  }
}