.site-header {
  text-align: center;
  background-color: lighten($text-color, 70%);
  position: relative;
  margin-bottom: emRhythm(8);
  padding-left: emRhythm(4);
  @include clearfix();
}

.site-header a {
  text-decoration: none;
}

.site-name {
  display: inline-block;
  letter-spacing: 0.175em;
  margin-bottom: 0;
  margin-top: emRhythm(3);
  float: left;
  @include setType(4, $ms-up1);

  a {
    color: #000;
  }

  @media (min-width: 43.75em) {
    position: absolute;
    left: 0;
    right: 0;
    float: none;
  }
}

.site-nav {
  display: inline-block;
  float: right;

  @media (min-width: 43.75em) {
    position: relative;
    z-index: 9;
  }
}

.site-nav-item {
  display: inline-block;
  background-color: $red-color;
  padding: emRhythm(4);
  color: #fff;
  font-family: $font-sans;
  text-transform: uppercase;
  border: none;

  &:link,
  &:visited {
    color: #fff;
  }
}