.site-footer {
  text-align: center;
  padding-left: emRhythm(4);
  padding-right: emRhythm(4);
  padding-top: emRhythm(8);
  padding-bottom: emRhythm(10);
  background-color: $tan-color;
  @include clearfix();

  p {
    margin-bottom: 0;
    max-width: none;
  }
}

.site-details {
  text-align: center;
  @include setType(4, $ms-down1);
}