.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.social-list-item {
  display: inline-block;
  padding-right: emRhythm(1);
  padding-left: emRhythm(1);
  line-height: 1;

  a {
    border: none;
  }
}