.social-list {
  list-style: none;
  padding: 0;
  margin-left: 0;
}

.social-list-inline {
  display: inline;
}

.social-list-item {
  display: inline-block;
  padding-right: 0.5em;
  padding-left: 0.5em;
  line-height: 1;

  a {
    border: none;
  }
}