@charset "utf-8";

@import "utils";
@import "../_bower_components/normalize-scss/normalize";

// Your settings for Typesettings :)
$font-sans: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-sans-alt: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-serif: Georgia, 'Times New Roman', serif;
$font-mono: 'Lucida Console', Monaco, monospace;
$text-color: #333333;
$base-vertical-unit: 6px;
$base-line-multi: 4;
$base-font-size: 16px;
$ms-ratio: 1.414;
$paragraph-indent: true;
$paragraph-justify: true;

$red-color: #ff5952;
$tan-color: #fceec9;
$lightest-blue: #96d6d9;
$lighter-blue: #4faac9;
$blue-color: #176075;

$link-color-link: #176075;
$link-color-hover: lighten($link-color-link, 20%);
$link-color-active: $link-color-link;
$link-color-visited: $link-color-link;


@import "../_bower_components/typesettings/typesettings";
@import "print";
@import "base";
@import "site-header";
@import "site-intro";
@import "site-footer";
@import "button";
@import "social-list";
@import "code";
@import "meta";
@import "post";

