<h1 class="heading heading--page">Articles</h1>
<section class="section row">
  <% for(var slug in public.articles._data){ %>
  <% var entry = public.articles._data[slug] %>
  <% var date = entry.date %>
  <% var modified = entry.modified %>
  <% include ../_includes/entry %>
  <% } %>
</section>
