.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
  }
}

.btn-default {
  background-color: btn-default-bg;
  color: btn-default-color;
}