---
permalink: /humans.txt
---
# humanstxt.org/
# The humans responsible & technology colophon

# TEAM

{{siteData.name}} --- @{{siteData.service.twitter}}

# TECHNOLOGY COLOPHON

HTML5, CSS3, Sass, 11ty, jQuery, Normalize.css
