// Colors
$background-color = #d0cdc5;
$color-meta = #999;
$color-border = #ddd;
$link-color = #000;

$body-bg = #fff;
$text-color = #000;

// Typography
$base-vertical-unit = 6;
$base-font-size = 16;
$base-line-height = ($base-vertical-unit * 4) / $base-font-size;

$mono-font = 'Courier', serif
$sans-serif-font = sans-serif;

// Modules
$btn-default-color = #fff;
$btn-default-bg = #000;

$border-color = red;