<div class="container">
	<div class="row">
		<div class="col col-xs-12 pad-xs">
			<p class="dek dek-xlg">Ian Rose is a designer living &amp; working
				in New York City.</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="layout--col col col-xs-12 col-sm-7 col-md-5 col-lg-5 pad-xs">
			<h2 class="heading--alt h4"><a href="/articles">Articles</a></h2>
			<%- partial('_partial/archive-index', {
				pagination: 2,
				index: true
			}) %>
		</div>
		<div class="layout--col layout--work col col-xs-12 col-sm-5 col-md-4 col-lg-4 pad-xs pad-xs">

			<h2 class="heading--alt h4"><a href="/work">Work</a></h2>

			<div class="entry">
				<h3 class="h4"><a href="#">Gridsettings</a></h3>
				<img class="img-responsive" src="http://placehold.it/350x252" alt=""/>
			</div>
			<div class="entry">
				<h3 class="h4"><a href="#">Typesettings</a></h3>
				<img class="img-responsive" src="http://placehold.it/350x252" alt=""/>
			</div>
			<div class="entry">
				<h3 class="h4"><a href="#">Gridsettings</a></h3>
				<img class="img-responsive" src="http://placehold.it/350x252" alt=""/>
			</div>
		</div>
		<div class="layout--notes col col-xs-12 col-sm-7 col-md-3 col-lg-3 pad-xs">
			<h2 class="heading--alt h4"><a href="/notes">Notes</a></h2>

			<div class="entry">
				<time class="entry-meta-item entry-meta-item--time">November 15,
					2014
				</time>
				<h3 class="h5">Sir Tim Berners-Lee: we need more MPs who know
					how to
					code</h3>

				<p class="excerpt excerpt--sm">The inventor of the World Wide
					Web issues a
					plea for more politicians who understand how computers
					work</p>
			</div>
			<div class="entry">
				<time class="entry-meta-item entry-meta-item--time">November 15,
					2014
				</time>
				<h3 class="h5">Sir Tim Berners-Lee: we need more MPs who know
					how to
					code</h3>

				<p class="excerpt excerpt--sm">The inventor of the World Wide
					Web issues a
					plea for more politicians who understand how computers
					work</p>
			</div>
			<div class="entry">
				<time class="entry-meta-item entry-meta-item--time">November 15,
					2014
				</time>
				<h3 class="h5">Sir Tim Berners-Lee: we need more MPs who know
					how to
					code</h3>

				<p class="excerpt excerpt--sm">The inventor of the World Wide
					Web issues a
					plea for more politicians who understand how computers
					work</p>
			</div>
		</div>
	</div>
</div>
