.back-to-top--l {

  padding-left: $gutter;
  padding-right: $gutter;

  @media (min-width: $screen-md-min) {
    max-width: $span-2;
    flex-basis: $span-2;
  }

  @media (min-width: $screen-lg-min) {
    margin-left: $span-1;
    flex-basis: $span-1;
    max-width: $span-1;
  }
}
