.heading--page {
  @extend .h1;
  font-family: $font-display-serif;
  font-weight: 600;
  padding-left: $gutter;
  padding-right: $gutter;
  margin-bottom: $gutter * 3;
  letter-spacing: -1px;
  transition: opacity 0.5s ease-in;

  @media (min-width: $screen-sm-min) {
    min-height: $site-header-height;
    margin-bottom: 0;
  }

  @media (min-width: $screen-lg-min) {
    max-width: $span-6;
  }
}

.heading--home {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include setType(5, $ms-up3);
  }
}
