@import '_base/variable';
@import '_base/utils';
@import "_base/variable";
@import "_base/reset";
@import '_base/layout';

/*@import '_partial/header'*/
/*@import '_partial/article'*/
/*@import '_partial/comment'*/
/*@import '_partial/index'*/
/*@import '_partial/archive'*/
/*@import '_partial/sidebar'*/
/*@import '_partial/footer'*/
@import '_modules/syntax';
@import "_modules/button";